.donkerblauw{
    color: #012840;
  }

.blauw{
    color: #034959;
}

.oranje{
    color: #F25922;
}

a {
    color: white;
}

nav {
    background-color: #034959;
  }
.rood, span{
    color:#FF0000;
}